.greetingForm {
    max-width: 1310px;
    margin: 0 auto;
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.error {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 0 12px;
    color: #000000;
}

.input:focus {
    outline: none;
}

.errorInput {
    border: 1px solid #CC0000;
    border-radius: 5px;
    width: 372px;
    height: 36px;
}

.button {
    background: #0066CC;
    border: none;
    border-radius: 3px;
    padding: 7px 24px;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.greeting {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
